.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #b6ffff;
  header {
    height: 50px;
    text-align: center;
    background-color: #81d4fa;
  }
  main {
    padding: 20px;
    flex-grow: 1;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
  }
  footer {
    background-color: #4ba3c7;
    height: 30px;
    text-align: center;
  }
}
